*{ 
    box-sizing: border-box
}

main{

    background-color: cyan;
    border: 5px solid black;
    font-size: 32px;
}

.float{
    
}

footer{
    width: 100%;
    height:50px;
    background-color: red;
    border: 5px solid black;
    float: left;
    font-size: 32px
}

header, nav{
    height: 100px;
    width:100%;
    background-color:red;
    border: 5px solid black;
    float: left
}
